<h1>Yoga Classes</h1>

<% @yoga_classes.each do |yoga_class| %>
  <h2>Class Name: <%= yoga_class.name %></h2>
  <h3>Studio Name: <%= yoga_class.studio.name %></h3>
  <h3>Address: <%= yoga_class.studio.address %></h3>
  <h3>Date: <%= yoga_class.date.strftime("%A, %b %d, %Y") %></h3>
  <h3>Start Time: <%= yoga_class.time.strftime("%I:%M %p") %></h3>
  <h3>Duration: <%= yoga_class.duration %> minutes</h3>
  <h3>Cost: <%= number_to_currency(yoga_class.price) %></h3>
  <h3>Level: <%= yoga_class.level %></h3>
  <h3>Teacher: <%= yoga_class.user.email %></h3>
  <hr>
<% end %>
  