<%= render partial: "partials/header", locals: {
  current_user: current_user,
  is_angular: false
} %>

<div id="wrapper">

  <!-- SLIDER -->
  <section id="slider" class="fullheight" style="background-image:url('/assets/images/backgrounds/up.jpg')">
    <div class="overlay dark-3"><!-- dark overlay [0 to 9 opacity] --></div>

    <div class="display-table">
      <div class="display-table-cell vertical-align-middle">
        <div class="container">

          <div class="slider-featured-text text-left">
            <section id="portfolio" class="dark nopadding-bottom nopadding-top">
              <div class="container">

                <div class="row padding-50">

                  <div class="col-md-7 col-sm-7">

                    <!-- Subtitle -->
                    <div class="heading-title heading-border">
                      <h2><%= @yoga_class.name %></h2>

                      <ul class="list-inline categories nomargin">
                        <li><%= @yoga_class.start.strftime("%A, %b %d, %Y") %></li>
                        <li><%= @yoga_class.start.strftime("%I:%M %p") %></li>
                      </ul>

                    </div>
                    <!-- /Subtitle -->
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <tbody>
                          <tr>
                            <td><strong>Studio: </strong></td>
                            <td><%= link_to @yoga_class.studio.name, "/studios/#{@yoga_class.studio.id}" %></td>
                          </tr>
                          <tr>
                            <td class="bold">Location: </td>
                            <td><%= link_to @yoga_class.studio.address, "http://maps.google.com/?saddr=Current+Location&daddr=#{@yoga_class.studio.address}", target: "_blank" %></td>
                          </tr>
                          <tr>
                            <td class="bold">Teacher: </td>
                            <td><%= @yoga_class.user.email %></td>
                          </tr>
                          <tr>
                            <td class="bold">Level: </td>
                            <td><%= @yoga_class.level %></td>
                          </tr>
                          <tr>
                            <td class="bold">Duration: </td>
                            <td><%= @yoga_class.duration %> minutes</td>
                          </tr>
                          <tr>
                            <td class="bold">Cost: </td>
                            <td><%= number_to_currency(@yoga_class.price) %></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <br>
                    
                    <p>
                      <a class="label label-default letter-spacing-1" href="portfolio-single-parallax.html">SAVE CLASS TO CALENDER</a> 
                      <a class="label label-default letter-spacing-1" href="portfolio-single-parallax-2.html">SIGN UP FOR CLASS</a> 
                    </p>
                    <h3><i class="glyphicon glyphicon-backward"></i> <%= link_to "Back to search results", url_for(:back) %></h3>

                  </div>

                  <div class="col-md-4 col-sm-4">

                    <div class="panel panel-default">
                      <div class="panel-body">

                        <p class="font-lato size-18">Integer posuere erat a ante venenatis dapibus posuere velit aliquet nulla sed consectetur.</p>

                        <ul class="portfolio-detail-list list-unstyled nomargin">
                          <li><span><i class="fa fa-user"></i>Author:</span> Smarty Inc.</li>
                          <li><span><i class="fa fa-calendar"></i>Released:</span> 29th June 2015</li>
                          <li><span><i class="fa fa-lightbulb-o"></i>Technologies:</span> HTML / CSS / JAVASCRIPT</li>
                          <li><span><i class="fa fa-link"></i>Website:</span> <a href="#">www.stepofweb.com</a></li>
                        </ul>

                      </div>

                      <div class="panel-footer">

                        <!-- Social Icons -->
                        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">

                          <i class="icon-facebook"></i>
                          <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                          <i class="icon-twitter"></i>
                          <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="top" title="Google plus">
                          <i class="icon-gplus"></i>
                          <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
                          <i class="icon-linkedin"></i>
                          <i class="icon-linkedin"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest">
                          <i class="icon-pinterest"></i>
                          <i class="icon-pinterest"></i>
                        </a>
                        <!-- /Social Icons -->

                      </div>

                    </div>

                  </div>

                </div>
</div>


              </section>
            </div>

          </div>
        </div>
      </div>

    </section>
    <!-- /SLIDER -->
    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">

        <div class="row">

          <div class="col-md-3">


          </div>

        </div>

      </div>

      <div class="copyright">
        <div class="container">
          <ul class="pull-right nomargin list-inline mobile-block">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li>&bull;</li>
            <li><a href="#">Privacy</a></li>
          </ul>
          &copy; All Rights Reserved, Company LTD
        </div>
      </div>
    </footer>
    <!-- /FOOTER -->


    <% if user_signed_in? && current_user.role_id == 1 %>
    <h2><%= link_to "Edit this class", "/yoga_classes/#{@yoga_class.id}/edit" %></h2>
    <h2><%= link_to "Delete this class", "/yoga_classes/#{@yoga_class.id}/", method: :delete %></h2>
    <% end %>

    <% if user_signed_in? && @yoga_class.user_id == current_user.id %>
    <h2><%= link_to "Edit this class", "/yoga_classes/#{@yoga_class.id}/edit" %></h2>
    <% end %>

    <% if user_signed_in? && @yoga_class.studio.user_id == current_user.id %>
    <h2><%= link_to "Edit this class", "/yoga_classes/#{@yoga_class.id}/edit" %></h2>
    <h2><%= link_to "Delete this class", "/yoga_classes/#{@yoga_class.id}/", method: :delete %></h2>
    <% end %>

    <h3><%= link_to "Back to search results", "/yoga_classes" %></h3>
    <h1><%= @yoga_class.name %></h1>
    <h3>Studio Name: <%= @yoga_class.studio.name %></h3>
    <h3>Address: <%= @yoga_class.studio.address %></h3>
    <h3>Date: <%= @yoga_class.start.strftime("%A, %b %d, %Y") %></h3>
    <h3>Start Time: <%= @yoga_class.start.strftime("%I:%M %p") %></h3>
    <h3>Duration: <%= @yoga_class.duration %> minutes</h3>
    <h3>Cost: <%= number_to_currency(@yoga_class.price) %></h3>
    <h3>Level: <%= @yoga_class.level %></h3>
    <h3>Teacher: <%= @yoga_class.user.email %></h3>
  </div>