<% if user_signed_in? && (current_user.role_id == 1 || current_user.role_id == 2) %>
  <h2><%= link_to "Delete this class", "/yoga_classes/#{@yoga_class.id}/", method: :delete %></h2>
  <h2><%= link_to "Edit this class", "/yoga_classes/#{@yoga_class.id}/edit" %></h2>
<% end %>

<% if user_signed_in? && @yoga_class.user_id == current_user.id %>
  <h2><%= link_to "Edit this class", "/yoga_classes/#{@yoga_class.id}/edit" %></h2>
<% end %>

<h3><%= link_to "Back to search results", "/yoga_classes" %></h3>
<h1><%= @yoga_class.name %></h1>
<h3>Studio Name: <%= @yoga_class.studio.name %></h3>
<h3>Address: <%= @yoga_class.studio.address %></h3>
<h3>Date: <%= @yoga_class.date.strftime("%A, %b %d, %Y") %></h3>
<h3>Start Time: <%= @yoga_class.time.strftime("%I:%M %p") %></h3>
<h3>Duration: <%= @yoga_class.duration %> minutes</h3>
<h3>Cost: <%= number_to_currency(@yoga_class.price) %></h3>
<h3>Level: <%= @yoga_class.level %></h3>
<h3>Teacher: <%= @yoga_class.user.email %></h3>
