<%= render partial: "partials/header", locals: {
    current_user: current_user,
    is_angular: false
     } %>
    <div id="wrapper">
      <section class="page-header">
        <div class="container">

          <br><br><h1>YOGA STUDIOS</h1>

          <!-- breadcrumbs -->
          <ol class="breadcrumb">
            <li><a href="#"></a></li>
            <li class="active"></li>
          </ol><!-- /breadcrumbs -->

        </div>
      </section>
      <!-- /PAGE HEADER -->




      <!-- -->
      <section>
        <div class="container">
          
          <div class="row">

            <!-- LEFT COLUMNS -->
            <div class="col-md-9 col-sm-9">

              <% @studios.each do |studio| %>
              <div class="row"><!-- item -->
                <div class="col-md-2"><!-- company logo -->
                  <% if studio.logo_url %>
                    <img src="<%= studio.logo_url %>" class="img-responsive" alt="Company Logo">
                  <% else %>
                    <img src="https://cdn1.iconfinder.com/data/icons/fitness-sport/512/yoga-512.png" class="img-responsive" alt="company logo">
                  <% end %>
                </div>
                <div class="col-md-10"><!-- company detail -->
                  <h4 class="margin-bottom-10"><%= link_to "#{studio.name}", "/studios/#{studio.id}"%></h4>
                  <ul class="list-inline">
                    <li><i class="fa fa-globe text-success"></i> <span class="text-success"><%= link_to studio.website, "http://#{studio.website}", target: '_blank', title: 'Visit website'%></span></li>
                    <li><i class="fa fa-car"></i> <span class="text-warning"><%= link_to studio.address, "http://maps.google.com/?saddr=Current+Location&daddr=#{studio.address}", target: '_blank', title: 'See map and get directions' %></span></li>
                    <li><i class="fa fa-phone"></i> <span class="text-warning"><%= studio.phone %></span></li>
                    <% if studio.class_schedule_link %>
                      <li><i class="fa fa-calendar text-success"></i> <span class="text-success"><%= link_to "Class Schedule", "http://#{studio.class_schedule_link}", target: '_blank', title: 'View studio schedule'%></span></li>
                    <% end %>
                  </ul>
                  <% if studio.description %>
                    <p><%= studio.description %></p>
                  <% else %>
                    <p>Visit our website for more information about our studio.</p>
                  <% end %>
                </div>
              </div><!-- /item -->

              <hr />
            <% end %>
            </div>
            <!-- /LEFT COLUMNS -->

            <!-- RIGHT COLUMNS -->
            <div class="col-md-3 col-sm-3">

              <form action="/studios" method="get" class="sky-form clearfix">

                <label class="input">
                  <i class="ico-prepend fa fa-search"></i>
                  <input type="text" placeholder="Location" name="search">
                </label>

                <button class="btn btn-primary btn-sm pull-right">Search by location</button>

              </form>

              <form action="/studios" method="get" class="sky-form clearfix">

                <label class="input">
                  <i class="ico-prepend fa fa-search"></i>
                  <input type="text" placeholder="Studio name" name="filter">
                </label>

                <button class="btn btn-primary btn-sm pull-right">Filter by studio name</button>

              </form>

              <% if user_signed_in? && current_user.role_id == 1 %>
                <h4><a href="/studios/new">Add a studio</a></h4>
              <% end %>
              <p><em></em></p>

            </div>
            <!-- /RIGHT COLUMNS -->

          </div>
          
        </div>
      </section>
    </div>