<%= render partial: "partials/header", locals: {
  current_user: current_user,
  is_angular: false
} %> 
      <section>
        <div class="container">
         <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="nomargin sky-form boxed">
              <header>
                <i class="fa fa-plus"></i> Add a Yoga Studio
              </header>
              <fieldset class="nomargin">
                <%= form_tag "/studios/", method: :post do %>
                <div>
                  <%= label_tag :name %>
                  <%= text_field_tag :name, nil, class: "wide-field" %>
                </div>
                <div>
                  <%= label_tag :address %>
                  <%= text_field_tag :address, nil, class: "wide-field" %>
                </div>
                <div>
                  <%= label_tag :phone %>
                  <%= text_field_tag :phone, nil, class: "wide-field" %>
                </div>
                <div>
                  <%= label_tag :email %>
                  <%= text_field_tag :email, nil, class: "wide-field" %>
                </div>
                <div>
                  <%= label_tag :website %>
                  <%= text_field_tag :website, nil, class: "wide-field" %>
                </div>
                <div>
                  <%= label_tag :logo_url %>
                  <%= text_field_tag :logo_url, nil, class: "wide-field" %>
                </div>
                <div>
                  <%= label_tag :description %>
                  <%= text_area_tag :description, nil, class: "wide-field" %>
                </div>
                <div>
                  <%= label_tag :class_schedule_link %>
                  <%= text_field_tag :class_schedule_link, nil, class: "wide-field" %>
                </div>
                <div>
                  <%= label_tag :sign_up_link %>
                  <%= text_field_tag :sign_up_link, nil, class: "wide-field" %>
                </div>
                <div>
                  <%= label_tag :Studio_Owner %>
                  <%= select_tag 'user_id', options_from_collection_for_select(@owners, 'id', 'email'), class: "wide-field" %>
                </div>
                <br>
                <div>
                  <%= submit_tag 'Add a yoga studio', class: "button" %>
                </div>
                <% end %>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </section>