<%= render partial: "partials/header", locals: {
    current_user: current_user,
    is_angular: false
     } %>

<div id="wrapper">
   <section id="slider" class="fullheight" style="background-image:url('/assets/images/backgrounds/clouds.jpg')">

      <!-- 
        PAGE HEADER 
        
        CLASSES:
          .page-header-xs = 20px margins
          .page-header-md = 50px margins
          .page-header-lg = 80px margins
          .page-header-xlg= 130px margins
          .dark     = dark page header

          .shadow-before-1  = shadow 1 header top
          .shadow-after-1   = shadow 1 header bottom
          .shadow-before-2  = shadow 2 header top
          .shadow-after-2   = shadow 2 header bottom
          .shadow-before-3  = shadow 3 header top
          .shadow-after-3   = shadow 3 header bottom
      -->
      <section class="page-header parallax parallax-3" style="background-image:url('/assets/images/demo/1200x800/17-min.jpg')">
        <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

        <div class="container">
          <br>
          <h1><%= @studio.name %></h1>
          <span class="font-lato size-18 weight-300"><%= @studio.website %></span>

          <!-- breadcrumbs -->
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li class="active">Page Title</li>
          </ol><!-- /breadcrumbs -->

        </div>
      </section>
      <!-- /PAGE HEADER -->




      <!-- -->
      <section>
        <div class="container">
          
          <div class="row">
          
            <!-- IMAGE -->
            <div class="col-lg-4 col-sm-4">
              
              <div class="thumbnail relative margin-bottom-3">

                <!-- 
                  IMAGE ZOOM 
                  
                  data-mode="mouseover|grab|click|toggle"
                -->
                <figure id="zoom-primary" class="zoom" data-mode="mouseover">
                  <!-- 
                    zoom buttton
                    
                    positions available:
                      .bottom-right
                      .bottom-left
                      .top-right
                      .top-left
                  -->
                  <a class="lightbox bottom-right" href="http://img.talkandroid.com/uploads/2014/10/YogaStudio.png" data-plugin-options='{"type":"image"}'><i class="glyphicon glyphicon-search"></i></a>

                  <!-- 
                    image 
                    
                    Extra: add .image-bw class to force black and white!
                  -->
                  <img class="img-responsive" src="http://img.talkandroid.com/uploads/2014/10/YogaStudio.png" width="1200" height="1500" alt="This is the product title" />
                </figure>

              </div>

              <!-- Thumbnails (required height:100px) -->
              <div data-for="zoom-primary" class="zoom-more owl-carousel owl-padding-3 featured" data-plugin-options='{"singleItem": false, "autoPlay": false, "navigation": true, "pagination": false}'>
              <% if @studio.studio_images %>
                <% @studio.studio_images.each do |image| %>
                <a class="thumbnail active" href="<%= image.url %>">
                  <img src="<%= image.url %>" height="100" alt="" />
                </a>
                <% end %>
              <% end %>


                
              </div>
              <!-- /Thumbnails -->

            </div>
            <!-- /IMAGE -->

            <!-- ITEM DESC -->
            <div class="col-lg-5 col-sm-8">

              <!-- buttons -->
              <div class="pull-right">
                <!-- replace data-item-id width the real item ID - used by js/view/demo.shop.js -->
                <% if user_signed_in? %>
                  <a class="btn btn-default add-wishlist" href="#" data-item-id="1" data-toggle="tooltip" title="Add To Favorite Studios"><i class="fa fa-heart nopadding"></i></a>
                <% end %>
              </div>
              <!-- /buttons -->

              <!-- price -->
              <div class="shop-item-price">
                <% if @studio.logo_url %>
                  <img src="<%= @studio.logo_url %>" alt="company logo" class="studio-logo">
                <% end %>
              </div>
              <!-- /price -->

              <hr />

              <div class="clearfix margin-bottom-30">
                <!-- <span class="pull-right text-success"><i class="fa fa-check"></i> In Stock</span> -->
                <!--
                <span class="pull-right text-danger"><i class="glyphicon glyphicon-remove"></i> Out of Stock</span>
                -->

                <strong><%= @studio.name %></strong>
                <ul class="list-unstyled padding-10">
                  <li><i class="fa fa-globe text-success"></i> <span class="text-success"><%= link_to @studio.website, "http://#{@studio.website}", target: '_blank', title: 'Visit website'%></span></li>
                  <li><i class="fa fa-car"></i> <span class="text-warning"><%= link_to @studio.address, "http://maps.google.com/?saddr=Current+Location&daddr=#{@studio.address}", target: '_blank', title: 'See map and get directions' %></span></li>
                  <li><i class="fa fa-phone"></i> <span class="text-warning"><%= @studio.phone %></span></li>
                  <li><i class="fa fa-envelope"></i> <span class="text-warning"><%= @studio.email %></span></li>
                 
                </ul>
              </div>


              <!-- short description -->
              
              <!-- /short description -->


              <!-- countdown -->
              <% if @studio.yoga_classes.any? %>
                <div class="text-center">
                  <h5><i class="fa fa-clock-o"></i> <%= link_to "Next class starts in:", "/yoga_classes/#{@next_class.id}" %></h5>
                  <div class="countdown" data-from="<%= @next_class.start + 6.hours %>" data-labels="years,months,weeks,days,hour,min,sec"><!-- Example Date From: December 31, 2018 15:03:26 --></div>
                </div>
              <% end %>
              <!-- /countdown -->


              <hr />


              <!-- Share -->
              <div class="pull-right">

                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>

                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>

                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
                </a>

                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                  <i class="icon-linkedin"></i>
                  <i class="icon-linkedin"></i>
                </a>

              </div>
              <!-- /Share -->


              <!-- rating -->
              <% if @reviews.any? %>
                <h3>Average rating: <%= @average_rating %>/5</h3>
              <% end %>
              <!-- /rating -->

            </div>
            <!-- /ITEM DESC -->

            <!-- INFO -->
            <div class="col-sm-4 col-md-3">

              <h4 class="size-18">
                <i class="fa fa-paper-plane-o"></i> 
                <%= link_to "Yoga Loca Class Listings", "/yoga_classes?studio=#{@studio.id}" %>
              </h4>

              <% if @studio.class_schedule_link %>
              <h4 class="size-18">
                <i class="fa fa-calendar text-success"></i> 
                <%= link_to "Studio's Class Schedule", "http://#{@studio.class_schedule_link}", target: '_blank', title: 'View studio schedule'%>
              <% end %>
              </h4>
              
              <h4 class="size-18">
                <i class="fa fa-arrow-circle-left"></i> 
                <%= link_to "Back to All Studios", "/studios" %>
              </h4>

              <hr>
              <% if user_signed_in? && current_user.role_id == 1 %>
                <h4 class="size-18">
                  <i class="fa fa-wrench"></i>
                  ADMIN
                </h4>
                <h5>
                <ul class="list-unstyled">
                  <li><i class="fa fa-pencil"></i> <%= link_to "Edit this studio", "/studios/#{@studio.id}/edit" %></li>
                  <li><i class="fa fa-minus-circle"></i> <%= link_to "Delete this studio", "/studios/#{@studio.id}/", method: :delete %></li>
                  <% if user_signed_in? && current_user.role_id == 1 %>
                    <li><i class="fa fa-user"></i> Owner: <span class="text-warning"><%= @studio.user.email %></span></li>
                  <% end %> 
                </ul>
                </h5>
              <hr>
              <% end %>
            </div>
            <!-- /INFO -->

          </div>

          <ul id="myTab" class="nav nav-tabs nav-top-border margin-top-80" role="tablist">
            <li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#specs" role="tab" data-toggle="tab">Amenities</a></li>
            <li role="presentation"><a href="#reviews" role="tab" data-toggle="tab">Reviews (<%= @reviews.length %>)</a></li>
          </ul>




          <div class="tab-content padding-top-20">

            <!-- DESCRIPTION -->
            <div role="tabpanel" class="tab-pane fade in active" id="description">
              <p><%= @studio.description %></p>
            </div>
            
            <!-- SPECIFICATIONS -->
            <div role="tabpanel" class="tab-pane fade" id="specs">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Column name</th>
                      <th>Column name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Size</td>
                      <td>2XL</td>
                    </tr>
                    <tr>
                      <td>Color</td>
                      <td>Red</td>
                    </tr>
                    <tr>
                      <td>Weight</td>
                      <td>132lbs</td>
                    </tr>
                    <tr>
                      <td>Height</td>
                      <td>74cm</td>
                    </tr>
                    <tr>
                      <td>Bluetooth</td>
                      <td><i class="fa fa-check text-success"></i> YES</td>
                    </tr>
                    <tr>
                      <td>Wi-Fi</td>
                      <td><i class="glyphicon glyphicon-remove text-danger"></i> NO</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
            <!-- REVIEWS -->
            <div role="tabpanel" class="tab-pane fade" id="reviews">
              <!-- REVIEW ITEM -->
              <% @reviews.each do |review| %>
              <div class="block margin-bottom-60">

                <span class="user-avatar"><!-- user-avatar -->
                  <img class="pull-left media-object" src="/assets/images/avatar2.jpg" width="64" height="64" alt="">
                </span>

                <div class="media-body">
                  <h4 class="media-heading size-14">
                    <%= review.user.first_name %> <%= review.user.last_name[0, 1] %>. &ndash; 
                    <span class="text-muted"><%= review.created_at.strftime("%A, %b %d, %Y") %></span> &ndash;
                      <span>
                        <div class="rating rating-<%= review.rating %> size-15 margin-top-10 width-150"></div>
                      </span>
                  </h4>
                  
                  <p>
                    <%= review.review %>
                  </p>

                </div>
              <% if user_signed_in? && ((current_user.role_id == 1) || (current_user.id == review.user.id)) %>
                <%= link_to "Delete this review", "/studios/#{@studio.id}/reviews/#{review.id}/", method: :delete %>
              <% end %>
              </div>
              <% end %>
              <!-- /REVIEW ITEM -->


              <!-- REVIEW FORM -->
            <% if user_signed_in? %>
              <h4 class="page-header margin-bottom-40">ADD A REVIEW</h4>
              <form method="post" action="/studios/review" id="form">
                
                <div class="row margin-bottom-10">
                  
                  <div class="col-md-6 margin-bottom-10">
                    <!-- Name -->
                    <p> <strong>Reviewer Name: </strong> <%= current_user.first_name %> <%= current_user.last_name[0,1] %>.</p>
                  </div>
                  
                  <div class="col-md-6">
                    <!-- Rating -->
                    <input type="number" name="rating" id="rating" class="form-control" placeholder="rating" min="0" max="5" required="">
                  </div>
                    <input type="hidden" name="studio_id" id="studio_id" value="<%= @studio.id %>">
                    <input type="hidden" name="user_id" id="user_id" value="<%= current_user.id %>">
                </div>
                
                <!-- Comment -->
                <div class="margin-bottom-30">
                  <textarea name="review" id="review" class="form-control" rows="6" placeholder="Write your review" maxlength="1000" required=""></textarea>
                </div>


                <!-- Send Button -->
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit Review</button>
                
              </form>
            <% end %>
              <!-- /REVIEW FORM -->

            </div>
          </div>


          <hr class="margin-top-80 margin-bottom-80" />


        </div>
      </section>
      <!-- / -->

    </section>
    </div>
    <!-- /wrapper -->

</div>